body{
  background-color: black;

}
.about-page {
    background-color: black;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 20px;
    max-width: auto;
    margin: auto;
  }
  
  .about-header {
   
    padding: 10px;
    text-align: center;
  }
  
  .about-header h1 {
    margin: 0;
    font-size: 2rem;
  }
  span{
color:rgb(100,217,178) ;    
  }
  
  .about-content {
    margin: 20px 0;
    max-width: 80%;
  }
  
  .about-intro, .about-mission, .about-call-to-action {
    margin-bottom: 20px;
  }
  
  .about-intro h2, .about-mission h2, .about-call-to-action h2 {
    font-size: 1.5rem;
    color: rgb(100,217,178);
  }
  
  .about-call-to-action {
    text-align: center;
  }
  
  .cta-button {
    background-color: rgb(100,217,178);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .cta-button:hover {
    background-color: rgb(0, 201, 134)
  }
  
  .about-footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  